# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
vendor/

# Editor directories and files
.idea
.vscode
*.swp
*.swo
.DS_Store 

# Exclude specific project directories
/Nutrition_data/
/health_kb_builder/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Cache
.cache/ 
__pycache__/
.venv/
